/* =====================================================
   PORTFOLIO
===================================================== */

.portfolio {
  background: var(--color-surface);
}

/* =====================================
   Grid
===================================== */

.portfolio__grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: var(--space-lg);

  margin-top: var(--space-xl);

  align-items: stretch;
}

/* =====================================
   Responsivo
===================================== */

@media (max-width: 992px) {
  .portfolio__grid {
    grid-template-columns: 1fr;
  }
}
